@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html, body {
  background: #2C7873;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 14px;
  padding: 0px 23px 0 23px;
}

body {
  margin-bottom: 110px;
}

h1, h2, h3, h4, hr {
  text-shadow: 0 3px 6px #000000;
}

hr {
  border-radius: 7px;
  background-color: white;
  -webkit-box-shadow: 0 3px 6px #000000;
          box-shadow: 0 3px 6px #000000;
}

.btn {
  background: white;
  border: none;
  border-radius: 10px;
  height: 33px;
  width: 176px;
  color: #021C1E;
  -webkit-box-shadow: 0 3px 6px #000000;
          box-shadow: 0 3px 6px #000000;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  opacity: 70%;
}

.btn-delete {
  background-color: #C42222;
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: grey;
}

a:hover {
  opacity: 0.8;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
  padding: 24px 26px 14px 24px;
  height: auto;
  background: #021C1E;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px #000000;
          box-shadow: 0 3px 6px #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.headline-trennlinie {
  margin-bottom: 30px;
}

.headline-trennlinie hr {
  border: 3px solid white;
  margin-top: -10px;
}

.subheadline-trennlinie {
  margin-bottom: 15px;
}

.subheadline-trennlinie hr {
  border: 1.2px solid white;
  margin-top: -10px;
}

.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #021C1E;
  width: 80%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-content h1 {
  text-align: center;
}

.modal-content form input {
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 5px;
  width: 100%;
  height: 33px;
  margin-right: 24px;
  -webkit-box-shadow: 0 3px 6px #000000;
          box-shadow: 0 3px 6px #000000;
  font-size: 15px;
  font-weight: bold;
}

.modal-content .btn {
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.active {
  content: url(../icons/ToDo-Box-Done.svg);
}

.button-add svg, .button-close svg, .button-info svg {
  cursor: pointer;
}

.shoppinglist-home hr {
  border: 0.3px solid #8F8F8F;
}

.shoppinglist-home .shoppinglist-item {
  display: inline;
  margin-bottom: 10px;
}

.shoppinglist-home .shoppinglist-item .listitem-shoppinglist {
  margin-left: 38px;
}

.shoppinglist-home .shoppinglist-item input {
  background-color: #021C1E;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 14px;
}

.shoppinglist-home .shoppinglist-item ::-webkit-input-placeholder {
  font-style: italic;
}

.shoppinglist-home .shoppinglist-item :-ms-input-placeholder {
  font-style: italic;
}

.shoppinglist-home .shoppinglist-item ::-ms-input-placeholder {
  font-style: italic;
}

.shoppinglist-home .shoppinglist-item ::placeholder {
  font-style: italic;
}

.shoppinglist-home .shoppinglist-item p {
  display: inline;
  margin: 0;
  vertical-align: middle;
}

.shoppinglist-home .shoppinglist-item p span {
  display: block;
  color: #8F8F8F;
  font-size: 8px;
}

.shoppinglist-home .shoppinglist-item .no-product {
  color: #8F8F8F;
  font-style: italic;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
}

.shoppinglist-home .check {
  text-decoration: line-through;
}

.shoppinglist-home .todo-box {
  display: inline;
  margin-right: 14px;
  float: left;
}

.meinefamilie-home hr {
  border: 0.3px solid #8F8F8F;
}

.meinefamilie-home .meinefamilie-item {
  display: inline;
  margin-bottom: 10px;
}

.meinefamilie-home .meinefamilie-item li {
  margin-bottom: 10px;
  list-style-type: none;
}

.meinefamilie-home .meinefamilie-item li .listitem-familie {
  margin-left: 42px;
}

.meinefamilie-home .meinefamilie-item li p {
  display: inline;
  vertical-align: middle;
}

.meinefamilie-home .meinefamilie-item li p span {
  display: block;
  color: #8F8F8F;
  font-size: 8px;
}

.meinefamilie-home .user-icon {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}

.meinefamilie-home svg {
  height: 38px;
  width: auto;
}

.navigation {
  width: 100%;
  height: 86px;
  position: fixed;
  bottom: -2px;
  left: 0;
  margin: 0;
  background-color: #004445;
  padding-left: 41px;
  padding-right: 41.5px;
}

.navigation ul {
  margin: 26px 0 28px 0;
  vertical-align: middle;
  width: 100%;
  position: absolute;
  left: -30px;
}

.navigation li {
  display: inline-block;
  margin-right: 44px;
  width: 34px;
}

.navigation svg {
  cursor: pointer;
}

.lists-mylists hr {
  border: 0.3px solid #8F8F8F;
}

.lists-mylists .mylists-item {
  display: inline;
  margin-bottom: 10px;
}

.lists-mylists .mylists-item li {
  margin-bottom: 10px;
  list-style-type: none;
}

.lists-mylists .mylists-item li .item-mylists {
  margin-left: 35px;
  cursor: pointer;
}

.lists-mylists .mylists-item li p {
  display: inline;
  vertical-align: middle;
  text-decoration: none;
}

.lists-mylists .mylists-item li p span {
  display: block;
  float: right;
  color: #8F8F8F;
}

.lists-mylists .mylists-item li p span svg {
  height: 10px;
  width: auto;
}

.lists-mylists .mylists-item li a {
  color: white;
  text-decoration: none;
}

.lists-mylists .shoppinglist-icon {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  display: inline;
  float: left;
}

.subheadline-mylists {
  position: relative;
  display: inline-block;
  width: 100%;
}

.subheadline-mylists .subheadline-trennlinie {
  float: left;
  width: 157px;
}

.subheadline-mylists svg {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.shoppinglistpage .subheadline-shoppinglistpage {
  width: 100%;
  display: inline-block;
  position: relative;
}

.shoppinglistpage .subheadline-shoppinglistpage .subheadline-trennlinie {
  width: 157px;
  float: left;
}

.shoppinglistpage .subheadline-shoppinglistpage .buttons-shoppinglistpage {
  display: inline-block;
  position: absolute;
  right: -9px;
  bottom: 10px;
}

.shoppinglistpage .subheadline-shoppinglistpage .buttons-shoppinglistpage .button-info {
  position: absolute;
  right: 39px;
}

.shoppinglistpage .buttons-info .btn-delete {
  position: absolute;
  bottom: 75px;
}

.shoppinglistpage .table-shoppinglist-info {
  width: 100%;
}

.shoppinglistpage .table-shoppinglist-info tr {
  height: 5px;
}

.login {
  width: 70%;
  height: 270px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login form {
  width: 100%;
}

.login input[type=text], .login input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 13px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 3px 6px #000000;
          box-shadow: 0 3px 6px #000000;
  color: #021C1E;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 16px;
}

.login .btn-login, .login #signup-link {
  position: relative;
  margin-top: 15px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.login #signup-link {
  position: absolute;
  text-decoration: underline;
}

.signup {
  height: 360px;
  width: 70%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.signup input[type=text], .signup input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 13px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 3px 6px #000000;
          box-shadow: 0 3px 6px #000000;
  color: #021C1E;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 16px;
}

.signup .btn-signup {
  position: relative;
  margin-top: 15px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.signup p {
  text-align: center;
}
/*# sourceMappingURL=layout.css.map */