//Fonts
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//Colors
$primary: #0b0b38;
$nav-background: #08082a;
$container-background: #06061d;
$grey: #8F8F8F;


html, body{
    background: $primary;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    padding: 0px 23px 0 23px;
  
}

h1, h2, h3, h4, hr{
    text-shadow: 0 3px 6px #000000;
}

hr{
    border-radius: 7px;
    background-color: white;
}

li{
    list-style-type: none;
}

.container{
    padding: 24px 26px 14px 24px;
    height: auto;
    background: $container-background;
    border-radius: 5px;
    box-shadow: 0 3px 6px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.headline-trennlinie{
    hr{
        border: 3px solid white;
        margin-top: -10px; 
    }
    margin-bottom: 30px;
}

.subheadline-trennlinie{
    hr{
        border: 1.2px solid white;
        margin-top: -10px;
    }
    margin-bottom: 15px;
}

//Home
.active {
    content: url(../icons/ToDo-Box-Done.svg);
}

.shoppinglist-home{

    hr{
        border: 0.3px solid $grey;
    }
    
    .shoppinglist-item{
        display: inline;

        li{
            margin-bottom: 10px;
           

            .listitem-shoppinglist{
                margin-left: 38px;
             }

            p{
                display: inline;
                margin: 0;
                vertical-align: middle;

                span{
                    display: block;
                    color: $grey;
                    font-size: 8px;
                }
            }   
        }
    }

    .check{
        text-decoration: line-through;
    }
    
    .todo-box{
        display: inline;
        margin-right: 14px;
        float:left;
    }
}

//MeineFamilie-Home

.meinefamilie-home{
    hr{
        border: 0.3px solid $grey;
    }
    
    .meinefamilie-item{
        display: inline;
        margin-bottom: 10px;

        li{
            margin-bottom: 10px;
            list-style-type: none;

            .listitem-familie{
                margin-left: 42px;
            }

            p{
                display: inline;
                
                vertical-align: middle;

                span{
                    display: block;
                    color: $grey;
                    font-size: 8px;
                }
            }   
        }
    }

    
    .user-icon{
        margin:0;
        padding: 0;
        display: inline;
        float:left;
    }
    
    svg{
        height: 38px;
        width: auto;
    }
}


//Navigation TODO
.navigation{
    width: 100%;
    height: 86px;
    position: fixed;
    bottom: 0;
    left:0;
    margin:0;
    background-color: $nav-background;
    padding-left: 41px;
    padding-right: 41.5px;

    ul{
        margin:26px 0 28px 0;
        vertical-align: middle;
        width: 100%;
        position: absolute;
        left: -30px;
    }

    li {
        display: inline-block;
        margin-right: 44px;
        width: 34px;
    }
}













