//FONTS
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//COLORS
$primary:#2C7873;
$nav-background: #004445;
$container-background: #021C1E;
$grey: #8F8F8F;
$button-delete: #C42222;


//DESIGN - START

//GENERAL
html, body{
    background: $primary;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 14px;
    padding: 0px 23px 0 23px;
  
}

body{
    margin-bottom: 110px;
}

h1, h2, h3, h4, hr{
    text-shadow: 0 3px 6px #000000;
}

hr{
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 3px 6px #000000;

}

.btn{
    background: white;
    border: none;
    border-radius: 10px;
    height: 33px;
    width: 176px;
    color: $container-background;
    box-shadow: 0 3px 6px #000000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    opacity: 70%;
}

.btn-delete{
    background-color: $button-delete;
    color:white;
}


a:visited{
    color: white;
}

a:active{
    color: grey;
}

a:hover{
    opacity: 0.8;
    cursor: pointer;
}

li{
    list-style-type: none;
}

.container{
    padding: 24px 26px 14px 24px;
    height: auto;
    background: $container-background;
    border-radius: 5px;
    box-shadow: 0 3px 6px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.headline-trennlinie{
    hr{
        border: 3px solid white;
        margin-top: -10px; 
    }
    margin-bottom: 30px;
}

.subheadline-trennlinie{
    hr{
        border: 1.2px solid white;
        margin-top: -10px;
    }
    margin-bottom: 15px;
}

//POPUP - MODAL WINDOW

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
    background-color: $container-background;
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
        text-align: center;
    }

    form{
        input{
            margin-top: 15px;
            border-radius: 10px;
            border: none;
            outline: none;
            padding-left: 5px;
            width: 100%;
            height: 33px;
            margin-right: 24px;
            box-shadow: 0 3px 6px #000000;
            font-size: 15px;
            font-weight: bold;
        }
    }

    .btn{
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translate(-50%);
    }
}

//PAGES
//HOME
.active {
    content: url(../icons/ToDo-Box-Done.svg);
}

.button-add, .button-close, .button-info{
    svg{
        cursor: pointer;
    }
}

.shoppinglist-home{

    hr{
        border: 0.3px solid $grey;
    }
    
    .shoppinglist-item{
        display: inline;
        

    
            margin-bottom: 10px;
           

            .listitem-shoppinglist{
                margin-left: 38px;
             }

            input{
                background-color: $container-background;
                color: white;
                border: none;
                outline: none;
                font-weight: bold;
                font-family: 'Balsamiq Sans', cursive;
                font-size: 14px;

                
            }

            ::placeholder{
                font-style: italic;
            }
           


            p{
                display: inline;
                margin: 0;
                vertical-align: middle;

                span{
                    display: block;
                    color: $grey;
                    font-size: 8px;
                }
            }   

            .no-product{
               color: $grey;
               font-style: italic;
               font-family: 'Balsamiq Sans', cursive;
               font-weight: bold;

            }

        
    }

    .check{
        text-decoration: line-through;
    }
    
    .todo-box{
        display: inline;
        margin-right: 14px;
        float:left;
    }
}

//MeineFamilie-Home

.meinefamilie-home{
    hr{
        border: 0.3px solid $grey;
    }
    
    .meinefamilie-item{
        display: inline;
        margin-bottom: 10px;

        li{
            margin-bottom: 10px;
            list-style-type: none;

            .listitem-familie{
                margin-left: 42px;
            }

            p{
                display: inline;
                
                vertical-align: middle;

                span{
                    display: block;
                    color: $grey;
                    font-size: 8px;
                }
            }   
        }
    }

    
    .user-icon{
        margin:0;
        padding: 0;
        display: inline;
        float:left;
    }
    
    svg{
        height: 38px;
        width: auto;
    }
}


//Navigation
.navigation{
    width: 100%;
    height: 86px;
    position: fixed;
    bottom: -2px;
    left:0;
    margin:0;
    background-color: $nav-background;
    padding-left: 41px;
    padding-right: 41.5px;

    ul{
        margin:26px 0 28px 0;
        vertical-align: middle;
        width: 100%;
        position: absolute;
        left: -30px;
    }

    li {
        display: inline-block;
        margin-right: 44px;
        width: 34px;
    }

    svg{
        cursor: pointer;
    }

    
}

//PAGE - MYLISTS

//MEINE LISTEN
.lists-mylists{
    hr{
        border: 0.3px solid $grey;
    }
    
    .mylists-item{
        display: inline;
        margin-bottom: 10px;

        li{
            margin-bottom: 10px;
            list-style-type: none;

            .item-mylists{
                margin-left: 35px;
                cursor: pointer;
            }

            p{
                display: inline;
                vertical-align: middle;
                text-decoration: none;

                span{
                    display:block;
                    float: right;
                    color: $grey;
                    
                    svg{
                        height: 10px;
                        width: auto;
                    }
                }
            } 

            a{
                color:white;
                text-decoration: none;
            }


        
       }  
       
       
        
    }

    .shoppinglist-icon{
        transform: scale(0.75);
        margin:0;
        margin-bottom: -10px;
        padding: 0;
        display: inline;
        float:left;
    }
}


.subheadline-mylists{
    
    position:relative;
    display: inline-block;
    width: 100%;

    .subheadline-trennlinie{ 
        float: left;
        width: 157px; 
    }

    svg{
        position: absolute;
        right: 0;
        bottom: 10px;
    }
}


//SHOPPINGLIST WITH PRODUCTS
.shoppinglistpage{

    .subheadline-shoppinglistpage{
        .subheadline-trennlinie{
            width: 157px;
            float: left;
        }

        width: 100%;
        display: inline-block;
        position:relative;


        .buttons-shoppinglistpage{
            display: inline-block;
            position: absolute;
            right: -9px;
            bottom: 10px;

            .button-info{
                position: absolute;
                right: 39px;
            }
        }
       
    }

    .buttons-info{
        .btn-delete{
            position: absolute;
            bottom: 75px;
        }
    }

    .table-shoppinglist-info{
        
        width: 100%;
        
        tr{
            height: 5px;
        }
    }

}



.form-container{
    width: 70%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 13px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0 3px 6px #000000;

        color:$container-background;
        border: none;
        outline: none;
        font-weight: bold;
        font-family: 'Balsamiq Sans', cursive;
        font-size: 16px;
    }

    .btn-signup, #login-link{
        position:relative;
        margin-top: 15px;
        left: 50%;
        transform: translate(-50%);
    }

    #login-link{
        text-align: center;
    }
}











